<div>
  <form class="p-4">
    <input 
      type="text"
      placeholder="Search for a title here" [formControl]="titleToSearchFor"
      class="border-2 rounded-full border-black w-64 p-2"
    />
    <button (click)="fetchData($event)" class="w-20">
      Search
    </button>
    <div *ngIf="titleToSearchFor.invalid && (titleToSearchFor.dirty || titleToSearchFor.touched)">
      <p class="mt-5 text-red-700">Please use at least two characters</p>
    </div>
    <div *ngIf="error">
      <p class="mt-5">{{errorMessage}}</p>
    </div>
  </form>
</div>
